################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitHubLab/.vs/GitHubLab
/GitHubLab/ConsoleApp/bin/Debug/net8.0
/GitHubLab/ConsoleApp/obj
